:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.2fr));
  gap: 20px;
  padding: 100px;
}

.app-label {
  text-align: center;
  max-width: 200px;
  max-height: 25px;
  overflow: hidden;
}

.app-item {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  color: black;
  overflow: hidden;
}

.app-item:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #e0e0e0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: rgb(27, 27, 27);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.pleft {
  margin-right: auto;
}

.pright {
  margin-left: auto;
}

.popup-button:hover {
  transform: scale(1.02);
  background-color: #e0e0e0;
}

.popup-header {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.popup-title {
  padding: 6px;
  margin: 0;
  text-align: center;
}

iframe,
video {
  width: 100%;
  height: 315px;
  border: none;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 315px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background: black;
}

.carousel-content {
  width: 700px;
  height: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-content img,
.carousel-content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  border-radius: 50%;
}

.cleft {
  left: 10px;
}

.cright {
  right: 10px;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.submit-button {
  display: block;
  width: 70%;
  max-width: 400px;
  margin: 30px auto;
  padding: 15px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.submit-button:hover {
  transform: scale(1.02);
  background-color: #e0e0e0;
}