.app-item {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  color: black;
}

.app-item:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #e0e0e0;
}

.popup-content {
  background-color: rgb(27, 27, 27);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  max-height: 70%;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.popup-button:hover {
  transform: scale(1.02);
  background-color: #e0e0e0;
}

.popup-title {
  padding: 6px;
  margin: 0;
  text-align: center;
}

iframe,
video {
  width: 100%;
  height: 315px;
  border: none;
}